:host {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: 100vw;

  background: rgba(218, 116, 67, 0.0625);
  backdrop-filter: blur(6px);

  z-index: 1000;
}

.modal-body { overflow-y: auto }
.modal-content { max-height: 90vh }

video {
  transform: scaleX(-1);
  width: 100%;
}
