<div class="modal-dialog" style="max-width: initial">
  <div class="container modal-content" style="max-width: 640px; width: 90vw">
    <!-- Header -->
    <div class="modal-header align-items-center border-0">
      <h4 class="flex-grow-1 font-weight-bolder mb-0 position-absolute text-center w-100" style="left: 0">Top Fan</h4>
      <button class="close text-primary" (click)="onClickClose()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>

    <!-- Body -->
    <div class="modal-body">

      <!-- 0. Coduct of Conduct -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.SETUP_ACCEPT }">
        <h4 class="font-weight-bolder text-center text-primary">Interations</h4>
        <p class="text-center">Express yourself and interact on Top Fans and live chat.</p>
        <p class="text-center">To make it a positive and safe for all we monitor content in real time.</p>

        <h4 class="font-weight-bolder text-center text-primary">Code of Conduct</h4>
        <h6 class="font-weight-bolder text-center">It’s not allowed</h6>

        <ul class="text-justify pl-0" id="scrollbar" class="scrollbar">
          <li>Nudity (partial or total).</li>
          <li>Obscene or/or pornographic content.</li>
          <li>Violence, discrimination and hate content.</li>
          <li>Racism.</li>
          <li>Political, religious or conspiracy theories.</li>
          <li>Unsolicited third-party advertising.</li>
          <li>Hacking or injecting malicious code.</li>
        </ul>
      </div>

      <!-- 1. Camera Setup -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.SETUP_CAMERA }">

        <p class="text-center">Allow Camera access to view yourself <br/> and use our cool filters.</p>

        <div class="card border border-primary overflow-hidden mb-3 position-relative">
          <div style="padding-bottom: 56.25%"></div>
          <video #cameraPreview autoplay muted playsinline class="position-absolute" style="max-height: 100%"></video>
          <canvas #canvasPreview class="position-absolute" style="max-height: 100%"></canvas>
        </div>

        <div class="py-3">
          <app-chat-window-filter [properties]="carrouselProperties" [cards]="defaultFilters"></app-chat-window-filter>
        </div>

        <p class="text-center">
            You will have 10 seconds to show your best move.<br/>
            We will let you know 20 seconds before yout turn
        </p>

      </div>

      <!-- 2. Ready -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.SETUP_READY }">
        <h4 class="font-weight-bolder text-center">All set!</h4>
        <p class="text-center">We will let you know to connect the camera back and get ready!</p>
      </div>

      <!-- 3. Stream Start -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.STREAM_START }">
        <h4 *ngIf="countdown" class="font-weight-bolder text-center mb-0">GET READY!</h4>
        <h1 *ngIf="countdown" class="font-weight-bolder text-center text-primary">00:{{ countdown }}</h1>

        <h4 *ngIf="countdown == 0" class="font-weight-bolder text-center mb-0"><b>U</b>’r Live</h4>
        <h2 *ngIf="countdown == 0" class="font-weight-bolder text-center">- Give <b>U</b>’r best moves!</h2>

        <div class="card border border-primary overflow-hidden mt-3 position-relative">
          <div style="padding-bottom: 56.25%"></div>
          <video #cameraPreview2 autoplay muted playsinline class="position-absolute" style="max-height: 100%"></video>
          <canvas #canvasPreview2 class="position-absolute" style="max-height: 100%"></canvas>
        </div>
      </div>

      <!-- 4. Stream Stop -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.STREAM_STOP }">
        <h4 class="font-weight-bolder text-center mb-0">Hope <b>U</b> have enjoyed it.</h4>
        <p class="text-center"><b>U</b> can participate again!</p>
      </div>

      <!-- 5. Stream Stop BANNED -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.STREAM_STOP_BANNED }">
        <h4 class="font-weight-bolder text-center mb-0">Banned!</h4>
        <p class="text-center">You've been banned from this event.<br/>You can no longer join the chat nor the Top Fans.</p>
      </div>

      <!-- 6. Stream Stop KICKED -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.STREAM_STOP_KICKED }">
        <h4 class="font-weight-bolder text-center mb-0">Kicked!</h4>
        <p class="text-center">You've been kicked from Top Fans.<br/>Try not to violate our Code of Conduct next time.<br/>You've been warned.</p>
      </div>

    </div>

    <!-- Footer -->
    <div class="modal-footer border-0 d-block pt-3">

      <!-- 0. Coduct of Conduct -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.SETUP_ACCEPT }">

        <p class="text-center text-primary">Scroll down and read all the code of conduct</p>
        <p class="text-center">By pressing next you are accepting our <a href="https://ushowme.tv/termsandconditions/" class="text-primary" target="_blank">Terms & Conditions</a></p>

        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-primary" (click)="onClickClose()">Close</button>
          <button class="btn btn-primary" (click)="onClickPage(1)">Next</button>
        </div>
      </div>

      <!-- 1. Camera Setup -->
      <div [ngClass]="{ 'd-none': modalPage != ChatWindowModalPage.SETUP_CAMERA }">
        <div class="d-flex justify-content-between">
          <button class="btn btn-outline-primary" (click)="onClickPage(0)">Back</button>
          <button class="btn btn-primary" (click)="onClickPage(2)" [disabled]="!cameraPreview.srcObject">End Test and Save</button>
        </div>
      </div>

    </div>

  </div>
</div>
