<p>chat-window works!</p>
<fa-icon [icon]="faPencilAlt"></fa-icon>

<!--

<div class="container-fluid">
  <div class="row live-chat-header">
    <div class="col bookmark">
      <span><img src="../assets/chat_bookmark.svg"> Chat</span>
    </div>
    <div class="col online">
      <span>&#9679;</span>
      <span> {{online}} Online</span>
    </div>
  </div>
  <div class="row live-chat-messages">
    <div *ngFor="let chatMsg of chatMsgList" class="w-100">
      <span class="user-message" [style.color]="chatMsg.color">{{chatMsg.user}}</span><span>{{chatMsg.time}}</span> <span>{{chatMsg.msg}}</span>
    </div>
  </div>
  <div class="row live-chat-messages">
    <div *ngIf="chatMsg.user; else loggedOut" class="input-group mb-3">
      <input type="text" class="live-chat-input-text form-control" [(ngModel)]="chatMsg.msg" (keyup.enter)="sendMessage()" aria-describedby="button-addon2" >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary live-chat-input-button" type="button" id="button-addon2" (click)="sendMessage()">
          <img src="../assets/chat_send_message.svg">
        </button>
      </div>
    </div>
</div>

<ng-template #loggedOut>
  <div class="row live-chat-link-login">
    <a href="">Faça o login</a> 	&#160; para comentário
  </div>
</ng-template>
-->
