
<div class="d-flex flex-column h-100">

  <!-- streaming -->
  <div class="flex-grow-0 border-bottom border-dark" style="max-height: 30%">
      <chat-video [playbackUrl]="event.url" [options]="{ autoplay: true, controls: false }"></chat-video>
  </div>

  <div class="d-flex border-bottom border-dark">
    <div style="font-size: 5vh">
      <div (click)="onLike()"><fa-icon class="ml-2" style="color:orange" [icon]="faHeart"></fa-icon></div>
    </div>
    <div class="flex-grow-1 mr-2 pt-3" style="text-align: right">
      <button type="button" class="btn btn-primary pr-5 pl-5" style="font-size: 1.2rem" (click)="onConductCodeModal()">Top Fã? Entra aqui</button>
    </div>
  </div>

  <!-- Header -->
  <div class="card-body flex-grow-0 border-bottom border-dark">
    <div class="d-flex justify-content-between font-weight-bold">
      <!-- Room Title -->
      <div class="text-muted">
        <fa-icon class="mr-2" [icon]="faComment"></fa-icon>
        <span>Chat</span>
      </div>

      <!-- Room Status -->
      <div class="text-success" *ngIf="status == SocketStatus.CONNECTED">• {{ size }} Online</div>
      <div class="text-warning" *ngIf="status == SocketStatus.CONNECTING">• Conectando...</div>
      <div class="text-muted" *ngIf="status == SocketStatus.DISCONNECTED">• Indisponível</div>
    </div>
  </div>

  <!-- Log -->
  <div class="card-body flex-grow-1">

  </div>

  <!-- Input -->
  <div class="card-body flex-grow-0">
    <div class="d-flex align-items-center">
      <label class="flex-grow-1 mb-0 mr-3"><input class="form-control text-white"></label>
      <fa-icon class="text-primary" [icon]="faArrowRight" size="2x"></fa-icon>
    </div>j
  </div>
</div>

<div *ngIf="modal"><app-chat-window-modal></app-chat-window-modal></div>

