:host {
  display: block;
}

/*
// If the screen size is 601px wide or more, set the font-size of <div> to 80px
@media screen and (min-width: 601px) {
  span {
    font-size: 12px;
  }
  .bookmark {
    width: 10px;
  }
}

// If the screen size is 600px wide or less, set the font-size of <div> to 30px
@media screen and (max-width: 600px) {
  span {
    font-size: 8px;
  }
  .bookmark {
    width: 7px;
  }
}

.container-fluid {
  color: #6f7680;
  padding: 1rem;
}

.row.live-chat-header {
  padding: 1rem;
  background-color: #1e1e1e;
}

.col.online {
  text-align-last: right;
  color: #05c80a;
  font-weight: 700;
  white-space: nowrap;
}

.col.bookmark {
  font-weight: 700;
}

.row.live-chat-messages {
  background-color: #1e1e1e;
  height: 100%;
  min-height: 50px;
  overflow-x: hidden;
  padding: 1rem;
  font-weight: 500;
}

.row.live-chat-messages span {
  padding: 4px;
}

.live-chat-input-text  {
  padding: 1rem;
  color: #fbf8f8;
  background-color: #1e1e1e;
  border: solid 0.1px #495057;
}

.live-chat-input-button  {
  border: none;
}

.live-chat-link-login {
  padding: 1rem;
}

.live-chat-link-login a {
  color: orange;
}
 */

