$green: #00D17B;
$orange: #DA7443;
$gray: #8093A1;
$gray-500: #484C4F;

$dark: $gray-500;
$primary: $orange;
$success: $green;
$warning: $orange;

$text-muted: $gray;

$input-border-color: $gray-500;
$input-padding-x: 0.75rem;
$input-padding-y: 0.75rem;

$btn-border-radius: 30px;

