$green: #00D17B;
$orange: #DA7443;
$gray: #8093A1;
$gray-500: #484C4F;

$dark: $gray-500;
$primary: $orange;
$success: $green;
$warning: $orange;

$text-muted: $gray;

$btn-border-radius: 32px;
$btn-font-weight: bold;
$btn-padding-x: 2rem;
$btn-padding-y: 0.50rem;

$card-spacer-x: 0.75rem;
$card-spacer-y: 0.75rem;
$card-border-radius: 16px;

$input-border-color: $gray-500;
$input-padding-x: 0.75rem;
$input-padding-y: 0.75rem;

$modal-content-border-color: $primary;
$modal-content-border-radius: 32px;
$modal-header-padding-x: 1.75rem;
$modal-inner-padding: 1.75rem;
